/* Custom Fonts */
// @include font-face('open_sansbold', $weight: normal, $style: normal);
// @font-face{
//     font-family: 'open_sansbold';
//     src: url('opensans-bold-webfont.woff2') format('woff2'),
//          url('opensans-bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// } 
  



// @font-face {
//     font-family: 'open_sansbold_italic';
//     src: url('opensans-bolditalic-webfont.woff2') format('woff2'),
//          url('opensans-bolditalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'open_sanslight';
//     src: url('opensans-light-webfont.woff2') format('woff2'),
//          url('opensans-light-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'open_sanslight_italic';
//     src: url('opensans-lightitalic-webfont.woff2') format('woff2'),
//          url('opensans-lightitalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

/* End of Custom Fonts */


body{
    background: black;
}


.menu{
   
    img{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 110px;
height: auto;
width: 60%;
max-width: 100%;
    }
    h1 {
        color: white;   
        text-align: center;
        font-family: 'open_sansbold';
        font-size: 13px;
        margin-top: 10px;
    }
    select{
        color: black;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        margin-top: 15px;
        
    }
}
.display_list{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    img{
        flex: 100%;
        object-fit: cover;
        height: 250px;
        // width: 100%;
        max-width: 100%;
        justify-content: space-around;
    }
    p{
        color: white
    }
}
  
.footer{
    color:#c2c2c2;
    margin-top: 150px;
    text-align: center;
    font-size: 14px;
}
