/* Custom Fonts */
@font-face {
    font-family: 'Open Sans Light Italic';
    src: url('../../assets/fonts/OpenSansLight-Italic.eot');
    src: url('../../assets/fonts/OpenSansLight-Italic.eot?#iefix') format('embedded-../../assets/fonts/opentype'),
        url('../../assets/fonts/OpenSansLight-Italic.woff2') format('woff2'),
        url('../../assets/fonts/OpenSansLight-Italic.woff') format('woff'),
        url('../../assets/fonts/OpenSansLight-Italic.ttf') format('truetype'),
        url('../../assets/fonts/OpenSansLight-Italic.svg#../../assets/fonts/OpenSansLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../../assets/fonts/OpenSans-Bold.eot');
    src: url('../../assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-../../assets/fonts/opentype'),
        url('../../assets/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-Bold.woff') format('woff'),
        url('../../assets/fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../../assets/fonts/OpenSans-Bold.svg#../../assets/fonts/OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold Italic';
    src: url('../../assets/fonts/OpenSans-BoldItalic.eot');
    src: url('../../assets/fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-../../assets/fonts/opentype'),
        url('../../assets/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('../../assets/fonts/OpenSans-BoldItalic.ttf') format('truetype'),
        url('../../assets/fonts/OpenSans-BoldItalic.svg#../../assets/fonts/OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../../assets/fonts/OpenSans-Light.eot');
    src: url('../../assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-../../assets/fonts/opentype'),
        url('../../assets/fonts/OpenSans-Light.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-Light.woff') format('woff'),
        url('../../assets/fonts/OpenSans-Light.ttf') format('truetype'),
        url('../../assets/fonts/OpenSans-Light.svg#../../assets/fonts/OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* End of Custom Fonts */


body{
    background: black; 
    color: white;
    width: auto;
    max-width: auto;
}

.logo{
    
    height: 200px;
    background-position: center;
    background-image: url('../../assets/images/nyt-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 45px;
}


.menu{
    h1 {
        color: white;   
        text-align: center;
        font-family: 'Open Sans Light';
        font-size: 16px;
        margin-top: 15px;
    }
    select{
        color: black;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        margin-top: 15px;
        margin-bottom: 20px;
        padding-left: 30px;
    }
}
* {
    box-sizing: border-box;
  }
.container{
       margin-bottom: -150px;
        .display_list{
            position:relative;
 
        img{
            object-fit: cover;
            max-width: 100%;
            vertical-align: middle;
            justify-content: space-around;  
        }
        p{
            color: white;
            font-family: 'Open Sans Light';
            size: 16px;
            position: absolute;
            background: rgb(0, 0, 0); /* Fallback color */
            background: rgba(0, 0, 0, 0.5); 
            width: 100%;
            margin-top: -72px;
            padding: 20px;
            left: auto;
            right: auto;
        }
    }

}

  
.footer{
    color:#c2c2c2;
    margin-top: 350px;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans Light';
}

@keyframes resize-logo {
    0%  { transform: translateY(0); }
    50% { transform: translateY(-50px); }
    100% { transform: translateY(0); }
   
}

.resize{
    animation-name: resize-logo;
    animation-timing-function: linear;
}

@media only screen and (min-width: 600px){
    .logo{
        margin-left: -380px;
        height: 200px;
        margin-top: 60px;
    }
    
   
    .menu{
    h1{
        margin-top: -100px;
        margin-left: 0px;
    }
    select{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 90px;
    }

   }
   
   .container{
       display: flex;
       flex-wrap: wrap;
       box-sizing: border-box;
       padding:0 4px;
       .display_list{
        flex: 35%;
        justify-content: space-around;
        img{
            // flex: 35%;
            // object-fit: cover;
            // height: 35%;
            height: 180px;
            width: 33.3%;
            max-width: 35%;
            // justify-content: space-around;
            // vertical-align: middle;
            position: relative;
           }
           p{
            flex: 35%;
            display: block;
            width: 33.3%;
            max-width: 35%;
            position: absolute;
           }
       }
       
   }    

}

   @media only screen and (min-width: 1240px){
    .logo{
        margin-left: 60px;
        height: 280px;
        background-position: left;
        margin-top: 60px;
    }
    
   
    .menu{
    h1{
        text-align: left;
        margin-top: -140px;
        margin-left: 350px;
        margin-right: auto;
    }
    select{
       
       
   
        margin-left: 350px;
        margin-right: auto;
        margin-bottom: 120px;
    }
}
    .container{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding:0 4px;
        .display_list{
             
         img{
             flex: 25%;
             height: 180px;
             width: 25%;
             max-width: 25%;
             justify-content: space-around;
             position: relative;
            }
            p{
             flex: 25%;
             width: 25%;
             max-width: 25%;
             justify-content: space-around;
             position: absolute;
            }
        }
        
    }    
   .footer{
       text-align: left;
       margin-left: 60px;
   }
   
}