body{
   background-color: black; 
  
}
p{
    color: white;
    
}
.menu{

}
select option[value="home-option"] {
    background: rgba(100, 100, 100, 0.3);
  }
  
  select option[value="2"] {
    background: rgba(150, 150, 150, 0.3);
  }